*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(43, 46, 53);
}
/* Header Style Start */
header{
    background-color: rgb(43, 46, 53);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    background-color: rgb(126, 197, 197);
    color: rgb(43, 46, 53);
    font-size: 46px;
    padding: 0 10px 0 60px ;
    margin: 10px 0 ;
}
/* Header Style ends */

/* Navigation Style Starts */

header nav{
    margin: 20px;
  }

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 10px;
    padding: 0 10px 5px 10px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-decoration: none;
    border-bottom:rgb(126, 197, 197) solid;
    color: rgb(126, 197, 197);
  }

  /* Navigation Style Ends */

  /* Hero Style Starts */
.hero {
    background-image: url("http://placeimg.com/640/360/any");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

.hero h2{
    background-color: rgb(126, 197, 197);
    width: 22%;
    text-align: center;
    margin: 5%;
    font-size: 30px;
    line-height: 1.2;
  }
/* Hero Style Ends */